@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Roboto:ital,wght@0,700;1,400&display=swap');
body{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    font-family: roboto;
}
.conteiner{
    background-color:  hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 25px;
}
.conteiner h1{
    color: hsl(234, 29%, 20%) ;
    font-weight: 900;
    font-size: 58px;
}

.conteiner p{
    max-width: 26rem;
    color: hsl(235, 18%, 26%) ;
    line-height: 25px;
    margin-bottom: 40px
}
.conteiner button{
    border: 0 ;
    background-color: hsl(234, 29%, 20%);
    color: #fff ;
    width: 100% ;
    padding: 1.1rem 0 ;
    border-radius:  10px;
    font-weight: bold ;
    font-size: 14px
}
.conteiner button:hover{
    background: linear-gradient(45deg , #FF527B , #FF6A3A  );
}

@media (max-width: 29.1250rem){
    body{
        background-color: #fff;
    }
    .conteiner{
        padding: 30px
    }
    .conteiner h1{
        font-size:  40px;   
    }
    .conteiner button{
       margin-top: 100px
    }
}